[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = https://github.com/mavlink/c_library_v1.git
[submodule "mavlink/include/mavlink/v2.0"]
	path = mavlink/include/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
[submodule "NuttX"]
	path = NuttX
	url = https://github.com/PX4/PX4NuttX.git
[submodule "src/modules/uavcan/libuavcan"]
	path = src/modules/uavcan/libuavcan
	url = https://github.com/UAVCAN/libuavcan.git
[submodule "Tools/genmsg"]
	path = Tools/genmsg
	url = https://github.com/ros/genmsg.git
[submodule "Tools/gencpp"]
	path = Tools/gencpp
	url = https://github.com/ros/gencpp.git
[submodule "Tools/jMAVSim"]
	path = Tools/jMAVSim
	url = https://github.com/PX4/jMAVSim.git
[submodule "Tools/sitl_gazebo"]
	path = Tools/sitl_gazebo
	url = https://github.com/PX4/sitl_gazebo.git
[submodule "unittests/googletest"]
	path = unittests/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "src/lib/matrix"]
	path = src/lib/matrix
	url = https://github.com/PX4/Matrix.git
[submodule "src/lib/DriverFramework"]
	path = src/lib/DriverFramework
	url = https://github.com/PX4/DriverFramework.git
[submodule "src/lib/ecl"]
	path = src/lib/ecl
	url = https://github.com/PX4/ecl.git
[submodule "cmake/cmake_hexagon"]
	path = cmake/cmake_hexagon
	url = https://github.com/ATLFlight/cmake_hexagon
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = https://github.com/PX4/GpsDrivers.git
[submodule "src/morus_modules/morus_uavcan_px4"]
	path = src/morus_modules/morus_uavcan_px4
	url = git@github.com:larics/morus_uavcan_px4.git
	branch = master
[submodule "src/morus_lib/pid"]
	path = src/morus_lib/pid
	url = git@github.com:larics/pid.git
[submodule "src/morus_modules/morus_position_control"]
	path = src/morus_modules/morus_position_control
	url = git@github.com:larics/morus_position_control.git
[submodule "src/morus_modules/morus_px4_controller_commander"]
	path = src/morus_modules/morus_px4_controller_commander
	url = git@github.com:larics/morus_px4_controller_commander.git
[submodule "src/morus_modules/morus_uav_low_level_sm"]
	path = src/morus_modules/morus_uav_low_level_sm
	url = git@github.com:larics/morus_uav_low_level_sm.git
[submodule "src/morus_modules/mv"]
	path = src/morus_modules/mv
	url = git@github.com:larics/morus_attitude_control.git
[submodule "src/morus_modules/rv"]
	path = src/morus_modules/rv
	url = git@github.com:larics/morus_attitude_control.git
[submodule "src/mmuav_modules/mmuav_uavcan_px4"]
	path = src/mmuav_modules/mmuav_uavcan_px4
	url = git@github.com:larics/mmuav_uavcan_px4.git
[submodule "src/mmuav_modules/mmuav_attitude_control"]
	path = src/mmuav_modules/mmuav_attitude_control
	url = git@github.com:larics/morus_attitude_control.git
